.consultation-container {
  text-align: center;
  padding: 40px;
}

.video-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.video-box video {
  width: 350px;
  height: 250px;
  background: black;
  border-radius: 10px;
}

.controls {
  margin-top: 30px;
}

.start-btn {
  padding: 10px 20px;
  background: #0D9488;
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 6px;
}

.end-btn {
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
}

.captions-box {
  margin-top: 40px;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
}